
:root{
    --primary: black;
    
    --secondary: #339bff;
    --tertiary: hsl(38, 10%, 84%);
    
    --text1: #d9d6d1;
    
    --text2: #141414;
}
a{
    text-decoration: none;
    color:white
}

/* navbar */
nav {

    display: flex;
    justify-content: auto;
    align-items: center;
    height: 100px;
}


.left{
    margin-left: 75px;
    font-size: xx-large;
    color: var(--primary);
    text-align: left;
    background-color: hotpink;
    padding: 10px 20px;
    border-radius: 20px;
    
}


.right{
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: black;
    color: white;
    background-color: hotpink;
    transition: background-color 0.3s;
    margin-left: 1000px;
}


body{
    background-color: var(--primary);
    color: white;
    width: max-content;
    height: max-content;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


.bottomtext{
    font-size: 2.6rem;
   
   margin-bottom: 2rem;
}

.bottomtext-extramargin{
    font-size: 2.6rem;
   margin : 1.7rem 0 0;
   margin-bottom: 4rem;
}




.icon{
    justify-content: auto;
}
.imagew{
    height: 60px;
    width: 60px;
}





.firstsection{
    
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 3rem; */

    
}
.firstsection div{
    
    justify-content: space-around;
    
    font-size: 2.3rem; */
}
.leftsection{
    margin-top: 4rem;
    /* background-color: none; */
    margin-left: 80px;
    /* margin-right: 50px; */
}
.rightsection{
    margin-top: 14rem;
    /* height: auto;
    max-width: auto; */


    
}
.roundedimage {
    border-radius: 50%;
    height: 270px;
    width: 270px;
}


.purple{
    color: hotpink;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 6rem;
    margin-bottom: 6rem;
    padding: 20px; 
    text-align: center;

}
.centeredtext{
    text-align: center;
    font-size: 2.7rem;
    margin: 3rem 0 0;
}
@keyframes glow {
    0% {
        box-shadow: 0 0 10px white, 0 0 20px white;
    }
    100% {
        box-shadow: white;
    }
}
.card {
    flex: 1;
    min-width: 300px; 
    max-width: 400px; 
    background-color: hotpink; 
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s; 
}

.card:hover {
    
    transform: translateY(-5px);
    box-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px white;
    animation: glow 1s infinite alternate; 
}
.card-title {
    font-size: 2.2rem;
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}
.card-title2{
    font-size: 1.7rem;
    margin-bottom: 10px;
    color: black;
    

}
.card-description {
    font-size: 1rem;
}

.list {
    list-style: none;
    /* for centering */
    padding: 0;
    margin: 0;

    
}




.list li {
    margin: 5px 0;
}


.list li a{
    text-decoration: none;
    color: rgb(17, 22, 23);
}


.list li::before{
    
    color: var(--text2);
    margin-right: 5px;

}


